.voxeland-page {
  // Variables
  $primary-color: #50e3c2;
  $primary-color-light: #83f8df;
  $primary-color-dark: #174138;
  $secondary-color: #7f5bff;
  $text-color: #333;
  $background-color: #f2f7f8;
  $header-footer-color: #202020;
  $header-footer-color-accent: #2c2c2c;

  background-color: $background-color;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: background-color 0.3s ease, padding 0.3s ease;
    color: white;

    .social-media-container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .social-media-menu {
        display: none;
        position: absolute;
        top: 100%;
        border-top: solid 3px $primary-color;
        width: 100%;
        left: 0;
        background-color: rgba(255, 255, 255, 1);
        padding: 0.5rem;
        box-sizing: border-box;
        border-radius: 3px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        a {
          display: block;
          color: $primary-color-dark;
          text-decoration: none;
          padding: 0.6rem 1rem;
          font-size: 0.9rem;
          border-radius: 5px;
          display: flex;
          font-weight: 600;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          svg {
            transform: scale(0.8);
          }
        }
      }

      &:hover .social-media-menu {
        display: flex;
      }
    }

    .container {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      align-items: center;
      width: 100%;
      transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.2;
    }

    .logos-container {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    .logo-container {
      width: 3.2rem;
      height: 3.2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;
        object-fit: contain;
      }
    }

    nav {
      margin: 0;
      display: flex;
      flex-direction: row;
      gap: 0rem;

      .nav-link {
        color: white;
        text-decoration: none;
        padding: 0.6rem 1.5rem;
        border-radius: 5px;
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
        font-weight: 500;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin: 0;

        svg {
          transform: scale(0.9);
        }

        &:hover {
          color: $primary-color;
          background-color: rgba(255, 255, 255, 1);
        }
      }
    }

    // Cuando se hace scroll, cambiamos el background y reducimos el padding
    &.scrolled {
      background-color: $header-footer-color;
      padding: 0.5rem 2rem;

      .nav-link {
        &:hover {
          color: $primary-color;
          background-color: rgba(255, 255, 255, 0.1);
        }
      }

      .container {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .social-media-menu {
        background-color: $header-footer-color-accent;

        a {
          display: block;
          color: white;
          text-decoration: none;
          padding: 0.6rem 1rem;
          font-size: 0.9rem;
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          svg {
            transform: scale(0.8);
          }

          &:hover {
            color: $primary-color;
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }

  // Hero section
  .hero {
    background-size: cover;
    background-position: center;
    height: 600px;
    text-align: center;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 0px;

    .hero-video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 125%;
      width: auto;
      height: auto;
      transform: translate(-50%, -50%);
      object-fit: cover;
      z-index: 0;
    }

    .hero-content {
      padding: 2rem;
      width: 100%;
      gap: 0rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
      box-sizing: border-box;
      height: 100%;
    }

    .hero-title {
      font-size: 6rem;
      margin: 0rem;
      margin-bottom: -1rem;
      font-weight: 700;
      text-shadow: rgba(0, 0, 0, 0.445) 0 0 15px;
    }

    .hero-subtitle {
      font-size: 1.2rem;
      margin: 0rem;
      text-shadow: rgba(0, 0, 0, 0.445) 0 0 15px;
    }

    .cta-button {
      margin-top: 1.5rem;
      padding: 0.8rem 5rem;
      border-radius: 10rem;
    }
  }

  // Main content
  .main-content {
    padding: 0rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .section-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: $primary-color;
  }

  // Game info
  .game-info {
    margin-bottom: 3rem;
    width: 50rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .game-trailer {
      margin-top: 1rem;
      border-radius: 8px;
      overflow: hidden;
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
      box-sizing: border-box;

      iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
      }
    }
  }

  // Blog posts
  .blog-posts {
    margin-bottom: 4rem;
    width: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    .blogs {
      width: 55rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1rem;

      .section-title {
        margin: 0;
      }

      .blog-post {
        background-color: white;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 2rem;
        align-items: center;
        height: 8rem;
        text-decoration: none;
        color: $text-color;
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); /* Añade una transición suave */

        .blog-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;

          .blog-post-title {
            font-size: 1.8rem;
            margin: 0rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
          }

          p {
            margin: 0;
          }

          .date {
            font-weight: 400;
            font-size: 1rem;
            margin: 0;
            padding: 0;
            color: $primary-color;
          }
        }

        .blog-image {
          width: 18rem;
          height: 100%;
          border-radius: 4px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      /* Estilo para el hover */
      .blog-post:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
      }
    }

    .see-more {
      text-decoration: none;
      color: $secondary-color;
      transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

      p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }

  // Download section
  .download-section {
    background-color: $primary-color;
    padding: 2rem;
    text-align: center;
    margin-bottom: 3rem;
    width: 100%;
    box-sizing: border-box;

    .section-title {
      color: $background-color;
      margin: 0;
    }

    p {
      margin: 1rem 0;
      color: $background-color;
      font-weight: 500;
    }

    .cta-button {
      background-color: $background-color;
      color: $primary-color;
      margin-top: 1rem;
      padding: 0.8rem 6rem;
    }

    .cta-button:hover {
      background-color: $secondary-color;
      color: white;
    }
  }

  // Buttons
  .cta-button,
  .submit-button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      background-color: $secondary-color;
    }
  }

  // Footer
  .footer {
    background-color: $header-footer-color;
    color: white;
    padding: 0.8rem 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
}
